
# Секрети та конфігурації

.env
appsettings.Development.json
*.user
*.userprefs
*.suo


# Build Results (.NET)

[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
*.binlog
artifacts/
.builds/



# Visual Studio
.vs/
*.sln.docstates
*.vspscc
*.vssscc

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/


# Testing and Code Coverage

coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
BenchmarkDotNet.Artifacts/


# Developer Tools

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Entity Framework 
*.db
*.db-shm
*.db-wal


# Operating System Files

# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
._*
.Trashes